
<h1> Farm Control Home Page </h1>

<% if admin_signed_in? %>
  <%= link_to 'Sair', destroy_admin_session_path, method: :delete %>
<% else %>
  <%= link_to 'Entrar', new_admin_session_path %>
<% end %>